@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background: #489fb5;
    --container-bg: #f2f2f2;
    --item-bg-normal: #0f4c5c;
    --item-bg-hover: #fca311;
    --text-color: #262626;
    --text-color-light: #f2f2f2;
}

body {
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.2rem;
}

a {
    text-decoration: none;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color-light);
    border: 1px solid var(--text-color);
    border-radius: 2rem;
    padding: 0.8rem 5rem;
    background-color: var(--item-bg-normal);
    transition: all 200ms ease-in-out;
}

.nav-item:hover {
    transform: scale(1.2);
    background-color: var(--item-bg-hover);
}

.container {
    width: max-content;
    background-color: var(--container-bg);
    padding: 2rem 8rem;
    border-radius: 2rem;
}