@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: var(--menu-height);
}

:root {
    --menu-height: 6rem;
    --menu-background: #262626;
    --color-black: #262626;
    --color-white: #f2f2f2;
    --color-pink: #f94169;
    --color-brown: #7c4e2e;
}

.menu-container {
    display: flex;
    width: 100%;
    position: fixed; /* sticky did not work with flexbox */
    top: 0;
    height: var(--menu-height);
    align-items: center;
    justify-content: space-around;
    background-color: var(--menu-background);
    z-index: 3; /* Fix do hover ficando em cima do menu*/
}

.menu-container a {
    text-decoration: none;
}

.menu-container img {
    width: 4rem;
}

.menu-container ul {
    display: flex;
    gap: 2rem;
}

.menu-container li {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-white);
    padding: 0.4rem;
    transition: all 200ms ease-in-out;
}

.menu-container li:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--color-pink);
    border-radius: 4rem;
}

.menu-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#banner {
    margin-top: var(--menu-height);
    background-image: url("../img/lhama-banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - var(--menu-height));
}

.section-container {
    display: grid;
    background-color: var(--color-pink);
    padding: 1.5rem 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 2rem;
}

.section-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 1px solid black;
    height: 16rem;
    border-radius: 2rem;
    box-shadow: 6px 10px 8px;
}

.section-container section:hover {
    transform: scale(1.025);
}

.section-container h2 {
    color: var(--color-pink);
    text-align: center;
    padding-bottom: 0.8rem;
}

.section-container p {
    color: var(--color-black);
    font-weight: 500;
    text-align: center;
}

.main-article {
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: 2rem 1.5rem;
    text-align: center;
}

.main-article p {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.main-article h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-container {
    height: 3rem;
    background-color: var(--menu-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container img {
    width: 15rem;
}

@media (min-width: 768px) {
    :root {
        font-size: 18px;
    }
    .section-container {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        gap: 2rem;
    }
}

@media (min-width: 1023px) {
    :root {
        font-size: 22px;
    }
    .section-container {
        grid-template-columns: 1fr 1fr;
        padding: 3rem;
        gap: 3rem;
    }
}